<div *ngIf="showButton" class="img">
  <img src="/img/welcome.png" class="img2" alt="yknow">
  <div>
    <h2>Está curtindo o site?</h2>
    <p>
      Se quiser sugerir alguma coisa, contate o dev!
    </p>
  </div>
</div>
<mat-sidenav-container class="sidenav-container">
  <!-- SideNav -->
  <mat-sidenav #drawer mode="side" class="sidenav" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item (click)="VoltarForum()" class="white"><mat-icon>home</mat-icon> Inicio</a>
      <a mat-list-item (click)="IrParaVida()" class="white"><mat-icon>school</mat-icon> Vida no Curso</a>
      <a mat-list-item (click)="IrParaCurso()" class="white"><mat-icon>book</mat-icon> Curso</a>
      <a mat-list-item (click)="IrParaTurmas()" class="white"><mat-icon>group</mat-icon> Turmas</a>
      <a mat-list-item (click)="IrParaFaqs()" class="white"><mat-icon>help</mat-icon> Dúvidas Frequentes</a>
      <a mat-list-item (click)="IrParaCreditos()" class="white"><mat-icon>person</mat-icon> Créditos</a>
    </mat-nav-list>
        <div class="updates">
      <h2><mat-icon>update</mat-icon> Atualizações:</h2>
      <p>-> Mudança de design
        <br>-> Adicionado Update Log.
      </p>
        <h2><mat-icon>archive</mat-icon> Link para repositório do site:</h2>
        <button class="btn1" (click)="abrirSite('https://github.com/Icharu/forum')">Fórum</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="username">Fórum do Curso de EngComp</span>
      <span class="flex-spacer"></span>
      <span class="username"></span>

      <button mat-icon-button (click)="VoltarHome()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="header">
      <div class="Bemvindo">
              <div class="frase fade-slide-up"  [innerHTML]="textoDigitado">
              </div>
        <img src="/img/hello-world.png" class="gif" alt="yknow">
      </div>
      <p>Compartilhe suas experiências, contate o criador para adicionar ao site.</p>
      <h2>Novo ao curso?</h2>
      <p>Confira a página do curso, lá teremos algumas informações para calouros de Engenharia de computação!</p>
      <button (click)="IrParaCurso()">Ir para a página do curso <mat-icon>open_in_new</mat-icon></button>
<section class="know-more3" id="know-more3">
  <div class="text">
    <h2>Notícias recentes</h2>
    <p>Será sempre gravado do mais novo até o mais antigo</p>

    <div class="carousel-wrapper">
      <button class="carousel-btn prev" (click)="scrollCarousel(-1)">&#10094;</button>

      <div class="grid-container" #carouselRef>
        
        <div class="book-card">
          <div class="book-image">
            <img src="/gof/icarus.gif" alt="Introdução ao Curso">
          </div>
          <div class="book-content">
            <h3>Criação desta Plataforma</h3>
            <p>06/12/2025</p>
          </div>
        </div>

        <div class="book-card">
          <div class="book-image">
            <img src="/img/ERCEMAPI.png" alt="Bisseção">
          </div>
          <div class="book-content">
            <h3>XIII Escola Regional de Computação do Ceará, Maranhão e Piauí (ERCEMAPI 2025)</h3>
            <p>04/12/2025-05/12/2025</p>
          </div>
        </div>

      </div>

      <button class="carousel-btn next" (click)="scrollCarousel(1)">&#10095;</button>
    </div>

  </div>
</section>
<section class="know-more3" id="know-more3">
  <div class="text">
    <h2>Projetos Destaques</h2>
    <p>Será sempre gravado do mais novo até o mais antigo</p>

    <div class="carousel-wrapper">
      <button class="carousel-btn prev" (click)="scrollCarousel(-1)">&#10094;</button>

      <div class="grid-container" #carouselRef>

        <div class="book-card">
          <div class="book-image">
            <img src="/img/404.png" alt="404">
          </div>
          <div class="book-content">
            <h3>Nenhum projeto novo por enquanto</h3>
            <p>Quer colocar seu projeto aqui? Fale com o dev.</p>
          </div>
        </div>

      </div>

      <button class="carousel-btn next" (click)="scrollCarousel(1)">&#10095;</button>
    </div>

  </div>
</section>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>