<div *ngIf="showButton" class="img">
  <img src="/img/welcome.png" class="img2" alt="yknow">
  <div>
    <h2>Está curtindo o site?</h2>
    <p>
      Se quiser sugerir alguma coisa, contate o dev!
    </p>
  </div>
</div>
<mat-sidenav-container class="sidenav-container">
  <!-- SideNav -->
  <mat-sidenav #drawer mode="side" class="sidenav" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item (click)="VoltarForum()" class="white"><mat-icon>home</mat-icon> Inicio</a>
      <a mat-list-item (click)="IrParaVida()" class="white"><mat-icon>school</mat-icon> Vida no Curso</a>
      <a mat-list-item (click)="IrParaCurso()" class="white"><mat-icon>book</mat-icon> Estrutura Curricular</a>
      <a mat-list-item (click)="IrParaTurmas()" class="white"><mat-icon>group</mat-icon> Turmas</a>
      <a mat-list-item (click)="IrParaFaqs()" class="white"><mat-icon>help</mat-icon> Dúvidas Frequentes</a>
      <a mat-list-item (click)="IrParaCreditos()" class="white"><mat-icon>person</mat-icon> Créditos</a>
    </mat-nav-list>
        <div class="updates">
      <h2><mat-icon>update</mat-icon> Atualizações:</h2>
      <p>-> Mudança de design
        <br>-> Adicionado Update Log.
      </p>
        <h2><mat-icon>archive</mat-icon> Link para repositório do site:</h2>
        <button class="btn2" (click)="abrirSite('https://github.com/Icharu/forum')">Fórum</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="username">Fórum do Curso de EngComp</span>
      <span class="flex-spacer"></span>
      <span class="username"></span>

      <button mat-icon-button (click)="VoltarHome()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="header">
        <div class="Bemvindo">
              <div class="frase fade-slide-up"  [innerHTML]="textoDigitado">
              </div>
              <img src="/img/something.png" class="gif" alt="yknow">
      </div>
      <h2>Estrutura do Curso</h2>
      <p>Nesta plataforma teremos as informações para cada semestre de um curso, incluindo metodologias, e como cada semestre tende a funcionar na maioria.</p>
      <p>Temos no total 10 semestres, que se torna 5 anos de pura prática da engenharia de computação</p>
      <p>No começo você começará com as disciplinas fundamentais para exercitar seus conhecimentos para os próximos degrais de profissionalidade.</p>
          <section class="know-more3" id="know-more3">
  <div class="text">
    <h2>Cada Semestre abaixo:</h2>
    <div class="grid-container">
              <div class="book-card">
        <div class="book-image">
          <img src="/img/1.jpg" alt="Introdução ao Curso">
        </div>
        <div class="book-content">
          <h3>1° Semestre</h3>
          <p>O primeiro passo.</p>
          <button class="btn1" (click)="download1()">Ver 1° Semestre <mat-icon>download</mat-icon></button>
        </div>
      </div>
      <div class="book-card">
        <div class="book-image">
          <img src="/img/2.jpg" alt="Bisseção">
        </div>
        <div class="book-content">
          <h3>2° Semestre</h3>
          <p>A segunda etapa do curso, também fundamental para todo o curso.</p>
          <button class="btn1" (click)="download2()">Ver 2° Semestre <mat-icon>download</mat-icon></button>
        </div>
      </div>
        <div class="book-card">
        <div class="book-image">
          <img src="/img/3.jpg" alt="Bisseção">
        </div>
        <div class="book-content">
          <h3>3° Semestre</h3>
          <p>Conhecido como uns dos semestres mais essenciais para a formação</p>
          <button class="btn1" (click)="download3()">Ver 3° Semestre <mat-icon>download</mat-icon></button>
        </div>
      </div>
      <div class="book-card">
        <div class="book-image">
          <img src="/img/4.jpg" alt="Bisseção">
        </div>
        <div class="book-content">
          <h3>4° Semestre</h3>
          <p>EDA, Circuitos Elétricos...</p>
          <button class="btn1" (click)="download4()">Ver 4° Semestre <mat-icon>download</mat-icon></button>
        </div>
      </div>
      <!--Partes do 5° Semestre -->
      <div class="book-card">
        <div class="book-image">
          <img src="/img/5.jpg" alt="Bisseção">
        </div>
        <div class="book-content">
          <h3>5° Semestre</h3>
          <p>P.O.O, Banco de Dados, Redes...</p>
          <button class="btn1" (click)="download5()">Ver 5° Semestre <mat-icon>download</mat-icon></button>
        </div>
      </div>
            <div class="book-card">
        <div class="book-image">
          <img src="/img/6.jpg" alt="Bisseção">
        </div>
        <div class="book-content">
          <h3>6° Semestre</h3>
          <p>Principios de Comunicações, Transformações em Z, Engenharia Eletromagnética...</p>
          <button class="btn1" (click)="download6()">Ver 6° Semestre <mat-icon>download</mat-icon></button>
        </div>
      </div>
        <div class="book-card">
        <div class="book-image">
          <img src="/img/7.jpg" alt="Bisseção">
        </div>
        <div class="book-content">
          <h3>7° Semestre</h3>
          <p>Inteligência Artificial, Teoria da Computação e Compiladores...</p>
          <button class="btn1" (click)="download7()">Ver 7° Semestre <mat-icon>download</mat-icon></button>
        </div>
      </div>
        <div class="book-card">
        <div class="book-image">
          <img src="/img/8.jpg" alt="Bisseção">
        </div>
        <div class="book-content">
          <h3>8° Semestre</h3>
          <p>Sistemas Inteligentes, Gestão de Projetos, estamos quase perto da formatura.</p>
          <button class="btn1" (click)="download8()">Ver 8° Semestre <mat-icon>download</mat-icon></button>
        </div>
      </div>
        <div class="book-card">
        <div class="book-image">
          <img src="/img/9.png" alt="Bisseção">
        </div>
        <div class="book-content">
          <h3>9° Semestre</h3>
          <p>Primeira parte do TCC, e Sistemas de Comunicações Móveis...</p>
          <button class="btn1" (click)="download9()">Ver 9° Semestre <mat-icon>download</mat-icon></button>
        </div>
      </div>
      <div class="book-card">
        <div class="book-image">
          <img src="/img/10.jpeg" alt="Bisseção">
        </div>
        <div class="book-content">
          <h3>10° Semestre</h3>
          <p>Neste sentido, apenas terá o TCC e algumas opicionais</p>
        </div>
      </div>
      <!--Essa é a parte final-->
    </div>
  </div>
</section>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>