<div *ngIf="showButton" class="img1">
  <img src="/img/welcome.png" class="img2" alt="yknow">
  <div>
    <h2>Está curtindo o site?</h2>
    <p>
      Se quiser sugerir alguma coisa, contate o dev!
    </p>
  </div>
</div>
<mat-sidenav-container class="sidenav-container">
  <!-- SideNav -->
  <mat-sidenav #drawer mode="side" class="sidenav" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item (click)="VoltarForum()" class="white"><mat-icon>home</mat-icon> Inicio</a>
      <a mat-list-item (click)="IrParaVida()" class="white"><mat-icon>school</mat-icon> Vida no Curso</a>
      <a mat-list-item (click)="IrParaCurso()" class="white"><mat-icon>book</mat-icon> Curso</a>
      <a mat-list-item (click)="IrParaTurmas()" class="white"><mat-icon>group</mat-icon> Turmas</a>
      <a mat-list-item (click)="IrParaFaqs()" class="white"><mat-icon>help</mat-icon> Dúvidas Frequentes</a>
      <a mat-list-item (click)="IrParaCreditos()" class="white"><mat-icon>person</mat-icon> Créditos</a>
    </mat-nav-list>
    <div class="updates">
      <h2><mat-icon>update</mat-icon> Atualizações:</h2>
      <p>-> Mudança de design
        <br>-> Adicionado Update Log.
      </p>
        <h2><mat-icon>archive</mat-icon> Link para repositório do site:</h2>
        <button class="btn1" (click)="abrirSite('https://github.com/Icharu/forum')">Fórum</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="username">Fórum do Curso de EngComp</span>
      <span class="flex-spacer"></span>
      <span class="username"></span>

      <button mat-icon-button (click)="VoltarHome()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="header">
      <div class="Bemvindo">
              <div class="frase fade-slide-up"  [innerHTML]="textoDigitado">
              </div>
        <img src="/img/something.png" class="gif" alt="yknow">
      </div>
      <p>Compartilhe suas experiências, contate o criador para adicionar ao site.</p>

      <div class="row">

        <div class="column">
        <h2>Prédio de Engenharia de Computação</h2>
        <p>Nós como estudantes de engenharia de computação temos o nosso próprio prédio, localizado no CCT-UEMA, Centro de Ciências Tecnológicas.
        Assim, temos nosso ambiente de estudos específico para nossa área, fortalecendo a nossa base de pesquisa e formatação de trabalhos acadêmicos.
        </p>
        </div>
        
        <img src="/img/engcomp.jpg" alt="engcomp" class="img">

      </div>

        <div class="column">
        <h2>Horários</h2>
        <p>A partir do 1° Período o curso é na maioria dos casos de manhã, mas o curso em si é diurno.
            <br><br>Essa fase de manhã só ocorre até o quarto período, onde o curso se torna principalmente ativo de tarde no quinto período à diante.
        </p>
        </div>
      
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>