.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  min-height: 90vh;
  border-radius: 30px;
  overflow-y: hidden;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.gif {
    width: 200px;
    height: auto;
    animation: fadeSlideUp 0.7s ease-out forwards;
    transform-origin: center;
}
.frase {
  font-size: 2rem;
  max-width: 800px;
  line-height: 1.4;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #333;
  animation: fadeSlideUp 0.7s ease-out forwards;
  display: inline-block;
  transform-origin: center;
}
.frase::after {
  content: '|';
  margin-left: 4px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.formulario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1.5rem;
  color: #fff;
  width: 200px;
  animation: fadeSlideUp 0.7s ease-out forwards;
  text-shadow: 0 2px 6px rgba(225, 225, 225, 0.8);
}
.formulario2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  gap: 10px;
  animation: fadeSlideUp 0.7s ease-out forwards;
  border-radius: 8px;
  overflow-y: hidden;
  background-image: url("/img/saoluis.jpg");
  background-size: cover;
  background-position: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
  .btn2 {
  padding: 10px;
  max-width: 300px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  background: #f3f3f3;
  color: #2B3C50;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  animation: fadeSlideUp 0.7s ease-out forwards;

  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999; 
}
