<div class="container">
  

  <div *ngIf="!mostrarFormulario" class="form">
    <img src="/gof/icarus2.gif" class="gif" alt="silly">
      <div class="frase fade-slide-up"  [innerHTML]="textoDigitado">
    </div>
  </div>

  <form *ngIf="mostrarFormulario" class="formulario fade-slide-up">
     <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login">
          <img src="/gof/icarus.gif" class="gif" alt="yknow">
    <label>Email</label>
    <input 
      type="email" 
      formControlName="email"
      placeholder="Digite seu email"
    >
    <div class="erro" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
      <small *ngIf="loginForm.get('email')?.errors?.['required']">O email é obrigatório.</small>
      <small *ngIf="loginForm.get('email')?.errors?.['email']">Formato de email inválido.</small>
    </div>

    <label>Senha</label>
    <input 
      type="password" 
      formControlName="password"
      placeholder="Digite sua senha"
    >
    <div class="erro" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      <small *ngIf="loginForm.get('password')?.errors?.['required']">A senha é obrigatória.</small>
      <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
        A senha deve ter pelo menos 6 caracteres.
      </small>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>

  </form>
  </form>
    </div>
