.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 20px;
  text-align: center;
  min-height: 95vh;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.gif {
    width: 200px;
    height: auto;
}
.frase {
  font-size: 2rem;
  max-width: 800px;
  line-height: 1.4;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #333;
  animation: fadeSlideUp 0.7s ease-out forwards;
  display: inline-block;
}
.frase::after {
  content: '|';
  margin-left: 4px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.formulario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  gap: 10px;
  animation: fadeSlideUp 0.7s ease-out forwards;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.register {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: 600px;
  gap: 10px;
  animation: fadeSlideUp 0.7s ease-out forwards;
}
.login {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 50px;
  flex-direction: column;
  width: 800px;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  animation: fadeSlideUp 0.7s ease-out forwards;
}

.formulario input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
  min-height: 80vh;
  border-radius: 40px;
  box-shadow: 0 0 5px rgba(59, 59, 59, 0.8);
}