
<mat-sidenav-container class="sidenav-container">
  <!-- SideNav -->
  <mat-sidenav #drawer mode="side" class="sidenav" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item (click)="VoltarForum()" class="white"> Inicio</a>
      <a mat-list-item (click)="IrParaCurso()" class="white"> Curso</a>
      <a mat-list-item (click)="IrParaFaqs()" class="white"> Dúvidas Frequentes</a>
      <a mat-list-item (click)="IrParaCreditos()" class="white"> Creditos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="username">Fórum do Curso de EngComp</span>
      <span class="flex-spacer"></span>
      <span class="username"></span>

      <button mat-icon-button (click)="VoltarHome()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="header">
        <div class="criador1">
            <div class="frase fade-slide-up"  [innerHTML]="textoDigitado">
              </div>
        <img src="/gof/icarus.gif" class="image">
      </div>
    </div>
          <div class="criador">
        <div class="coluna">
          <h1>Icaro de Jesus Silva</h1>
          <p>Estudante de Engenharia da Computação na UEMA, criador deste site para ajudar os calouros a se situarem no curso.</p>
          <button>
        <a (click)="abrirSite('https://icarodejesus.com/')">Portfolio</a>
      </button>
        </div>
          <img src="/img/Icarus.jpeg" class="imagem">
          
      </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>