.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
   border-radius: 30px;
}

.sidenav {
  width: 240px;
  background: #2b2b2b;
  border-right: 1px solid #e0e0e0;

}
.white {
  color: #f3f3f3;
}
.toolbar {
  background: #f9f9f9;
  color: #303030;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 64px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
  .username {
    margin-right: 1rem;
    font-weight: 600;
    font-size: 1rem;
  }

.flex-spacer {
  flex: 1 1 auto;
}

.content {
  flex: 1;
  padding: 1.5rem;
  background: #f9f9f9;
}
.header {
    font-size: 1rem;
    font-weight: 600;
    gap: 50px;
    animation: fadeSlideUp 0.7s ease-out forwards;
}
button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.criador {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70%;
  animation: fadeSlideUp 0.7s ease-out forwards;
  background: #fff;
}
.criador1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  gap: 20px;
  margin: 20px;
  background: #fff;
}
.image {
  width: 150px;
  height: auto;
  border-radius: 15px;
}
.coluna {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.imagem {
  width: 200px;
  height: auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.frase {
  font-size: 2rem;
  max-width: 800px;
  line-height: 1.4;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #333;
  animation: fadeSlideUp 0.7s ease-out forwards;
  display: inline-block;
}
.frase::after {
  content: '|';
  margin-left: 4px;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
mat-icon {
  font-size: 28px;
}